@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
:root{
    --vlg:hsl(0, 0%, 95%);
}

html{
    font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.hero-b{
    background:linear-gradient(to right,hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    border-bottom-left-radius: 100px;
    overflow: hidden;
}
.mobile-hero{
    display: none;
    flex-direction: column;
}
.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}
.hero, .mobile-hero{
    height: 80vh;
    background-image: url(images/bg-pattern-intro.svg);
    background-position: 26% 50% ;
    background-repeat: no-repeat;
    padding-top: 2.5rem;
}
.navbar{
    display: flex;
    justify-content: space-around;
    height: 100px;
}
.navbar .right ul,.navbar .right, .navbar .left{
    display: flex;
    list-style: none;
}
.navbar .right ul li a:nth-child(1),.navbar .right ul li a:nth-child(2){
    padding-right: 1rem;
}
.navbar .right ul li a img{
    padding: 0 0.5rem;
}
.navbar .right ul li a {
    font-weight: 500;
}
.navbar .right ul li a, .navbar .left a, .buttoms a{
    text-decoration: none;
    color: white;
}
.header {
    height: calc(55vh - 100px);
    color:white;
    display: flex;
    place-items: center;
    flex-direction: column;
    margin-top: 0;
    animation: fadeIn linear 3.5s;
}
.header h1{
    font-size: 3.2rem;
    margin-bottom: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.buttoms{
    display: flex;
    margin-top: 1rem;
    font-weight: 500;
}
.left  div:nth-child(1) a{
    border: 0;
    font-weight: 500;
    padding: 0.8rem 2.2rem ;
}
.left  div:nth-child(2) a,
.buttoms div:nth-child(2) a:hover{
    background-color: white;
    color: hsl(356, 100%, 66%);
    font-weight: 700;
    padding: 0.8rem 2.2rem ;
}
.buttoms div:nth-child(2) a:hover{
    padding: 0.8rem 1rem;
    border: hidden;
}
.left  div:nth-child(2) a:hover,
.buttoms div:first-child a:hover{
    background-color: hsla(0, 0%, 100%,0.4);
    color: white;
    border-color: hsla(0, 0%, 100%,0.1);
}
.buttoms div:first-child{
   padding-right: 0.5rem;
}
.buttoms div:first-child a{
    background-color: white;
    color: hsl(356, 100%, 66%);
    font-weight: 700;
}

/*  dropdown */

.right{
    position: relative;
}
#img-1{
    transform: rotate(1turn);
    transition: all 500ms;
}
.drop{
    position: absolute;
    height: 150px;
    max-width: 150px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 5px 15px 4px rgba(0,0,0,0.3);
    top: 60px;
    animation: fadeIn ease .5s;
}
.drop-1{
    display:none;
    left: 100px;
}
.drop-2{
    display: none;
    left: 210px;
}
.drop-3{
    display:none;
}

.dropdown{
    display: grid;
    height: 100%;
    min-width: 100%;
    place-items: center end;
    padding: 2rem;
    margin: auto;
}

.dropdown-2{
    transform: translateX(-20px);
}

.dropdown-3{
    min-width: 150px;
    place-items: end;
}

.dropdown-m{
    display: flex;
    flex-flow: column nowrap;
    place-items: flex-start;
    min-width: 100%;
    min-height: 100%;
}
.dropdown-m > *{
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 0.9rem;
}
/*  dropdown */

/*showcase-1*/
.wrapper-1{
    position: relative;
    width: 100%;
   overflow: hidden;
}
.header-body{
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    top: 100px;
    
}
.showcase-1{
    display: grid;
    grid-template-columns: 50% 50%;
}
.showcase-1 .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.content-show{
    padding: 0 5.2rem;
    font-weight: 400;
}
.wrapper-1 .left .content-show p{
    line-height: 1.8rem;
    color: hsl(207, 13%, 34%);
    font-weight: 400;
}
.wrapper-1 .left .content-show h1:nth-child(2){
    margin-top: 2rem;
    padding-top: 2rem;
}
.showcase-1-img-m{
    display: none;
}
.showcase-1-img{
    display: flex;
}


/*showcase-1*/

/*showcase-2*/
.wrapper-2{
    background:linear-gradient(to left,hsl(237, 23%, 32%),hsl(237, 17%, 21%));
    border-bottom-left-radius: 100px;
    border-top-right-radius:100px ;
    margin-top: 2rem;
    
}
.showcase-2{
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    background-image: url(images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: -70% 80%;
}
.wrapper-2 .showcase-2 .left img{
    padding-left: 4rem;
    transform: translateY(-5rem);
    
}
.wrapper-2 .showcase-2 .left{
    flex: 1;
}
.wrapper-2 .showcase-2 .right{
    height: 68%;
    width: 100%;
    padding: 0 5.2rem;
    line-height: 1.8rem;
    display: grid;
    place-items: center;
    color: white;
    font-weight: 400;
}
/*showcase-2*/

/*showcase-3*/
.wrapper-3{
    width: 100vw;
    position: relative;
    margin-top: 5rem;
    overflow: hidden;
}
.wrapper-3 .showcase-1{
grid-auto-flow: dense;
}
.wrapper-3 .showcase-1 .left{
    grid-column: 2;
}
.wrapper-3 .showcase-1 .right{
    transform: translateX(-17rem);
}
.wrapper-3 .showcase-1 .left p{
    line-height: 1.8rem;
    color: hsl(207, 13%, 34%) ;
}
.mobile-img-3{
    display: none;
    width: 100%;
}
/*showcase-3*/

/* footer */
.footer-container{
    background-color: hsl(240, 10%, 16%);
    width: 100%;
    height:60vh;
    margin-top: 6rem;
    border-top-right-radius: 100px;
    overflow: hidden;
}
footer{
    display: flex;
    width: 80%;
    padding-top:3rem ;
    padding-left: 3rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.heading-f{
    color: white;
  
}
.footer-elements{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    list-style: none;
    color: white;
    line-height: 1.8rem;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-column-1{
    padding-top: 1.8rem;
}
.footer-elements li{
    color: hsl(240, 2%, 79%);
}


/* footer */

/* utilities */
.btn{
    display: block;
    padding: 0.8rem 1rem ;
    border: 1px solid white;
    border-radius: 2rem;
    transition: all 500ms;
    text-align: center;
}
.showcase-header{
    color: hsl(208, 49%, 24%);
    font-weight: 500;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
/* utilities */

/* media queries */
@media (max-width:1100px){
    .wrapper-3 .showcase-1 .right{
        transform: translateX(-21rem);
    }
}
@media (max-width:950px){
    .wrapper-3 .showcase-1 .right{
        transform: translateX(-25rem);
    }
    .wrapper-2 .showcase-2 .left img{
        transform: translateX(-5rem);
    }
}
@media (max-width:900px){
    .hero{
        display: none;
    }
    .mobile-hero{
        display:flex ;
        border-bottom-left-radius: 250px;
        height: 80vh;
        width: 100vw;
        background-position: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .header-m {
        height: 50vh;
        color:white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding: 0 2rem;
        animation: fadeIn linear 3.5s;
    }
    .header-m h1{
        text-align: center;
        font-weight: 400;
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
    .header-m p{
        margin-top: 0;
        padding-top: 0;
        font-size: 1.5rem;
        text-align: center;
        font-weight:300;
        font-family: 'Overpass', sans-serif;
    }
    .header-body{
        top: 0;
    }
    .wrapper-1{
        margin-top: 5rem;
    }
    .header-body:first-child{
        margin-bottom: 5rem;
    }
    .showcase-header{
        margin-top: 4rem;
    }
    .showcase-1{
        display: flex;
        flex-direction: column-reverse ;
    }
    .showcase-1-img-m{
        display: flex;
        width: 100%;
    }

    .showcase-1-img{
        display: none;
    }
    .content-show{
        text-align: center;
    }
    /* showcase 2 */
    .wrapper-2{
        margin-top: 17rem;
    }
    .showcase-2{
        display: flex;
        flex-direction: column;
        height: 120vh;
        background-size: contain;
        background-position: 50% top;
    }
    .showcase-2 .left img{
        width: 100%;
        padding: 0;
        place-items: center;
    }
    .wrapper-2 .showcase-2 .left img{
        padding-left: 0;
        transform: translateY(-16rem);
        
    }
    .content-show2{
        transform: translateY(-19rem);
        text-align: center;
        height: 100%;
    }
    /* showcase 3 */
    .wrapper-3 .showcase-1 .right .desktop-img{
        display: none;
    }
    .mobile-img-3{
        display: flex;
        place-items: center;
    }
    .wrapper-3 .showcase-1 .right{
        transform: translateX(0rem);
    }

    /* footer */
    .footer-column-1{
        transform: translateX(1.5rem);
    }
    .footer-container{
        width: 100%;
        height:100vh;
        overflow: hidden;
        transform: translateX(2.5rem);
    }
    footer{
        display: flex;
        width: 83%;
        padding-top:3rem ;
        padding-left: 3rem;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .footer-elements{
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
        list-style: none;
        color: white;
        line-height: 1.8rem;
        place-items: center;
    }
}
@media (max-width:600px){
    .showcase-2{
        height: 100vh;
    }

}
